body {
    background: linear-gradient(to right, hotpink, cyan);
  }
  
h1 {
    font-family: sans-serif;
    font-size: 50px;
}

img {
    max-width: 200px;
    max-height: 400px;
}

.movies {
    font-family: sans-serif;
    font-weight: bold;
}

#spiderverse:hover {
    box-shadow: 0 0 5px 2px rgba(75, 0, 130, 0.5), 0 0 10px 5px rgba(75, 0, 130, 0.7);
    cursor: pointer;
}

#oppenheimer:hover {
    box-shadow: 0 0 5px 2px rgba(255, 140, 0, 0.5), 0 0 10px 5px rgba(255, 140, 0, 0.7);
    cursor: pointer;
}

#jw4:hover {
    box-shadow: 0 0 5px 2px rgba(47, 170, 157, 0.5), 0 0 10px 5px rgba(47, 170, 157, 0.7);
    cursor: pointer;
}

.moreinfo {
    display: none;
    font-family: sans-serif;
    font-weight: bold;
}

#wakeburial {
    display: none;
}

button {
    background-color: #007BFF; /* Deep blue background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px 20px; /* Larger padding for content (top and bottom increased) */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Centered text */
    text-decoration: none; /* No text decoration */
    cursor: pointer; /* Pointer cursor */
    position: relative; /* Required for pseudo-elements */
    background-image: url('lighthousebutton.jpg'); /* Background image of ocean waves */
    background-size: cover; /* Cover the entire button */
    background-repeat: no-repeat; /* No background image repetition */
    overflow: hidden; /* Hide overflowing pseudo-elements */
    box-shadow: 0 0 5px black, 0 0 5px white; /* Black and white border glow */
}

button:hover {
    box-shadow: 0 0 10px black, 0 0 10px white; /* Darker black and white border glow on hover */
}



